<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="home" >home</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="vendor-list" >createVendor<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create-vendor" >createVendor</a>
        </li>
      
      </ul>
     
    </div>
  </nav>
  <!-- <a routerLink="/subject" >Subject</a>
  <a routerLink="/behavior">Behavior</a>
  <a routerLink="/reply">Replay</a>
  <a routerLink="/async">Async</a> -->