<div class="login">
<div class="container">
    <div class="row">
        <div class="col-10">

            <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit(form)">
                <div class="form-group">
                    <label for="username">userid</label>
                    <input type="text" class="form-control col-sm-5 " formControlName="username"
                        [ngClass]="{'is-invalid':form.get('username').touched && form.get('username').invalid}"
                        required />
                    <div class="invalid-feedback">
                        <div>userid is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="text" class="form-control col-sm-5" formControlName="password"
                        [ngClass]="{'is-invalid':form.get('username').touched && form.get('username').invalid}"
                        required />
                    <div class="invalid-feedback">
                        <div>password is is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!form.valid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<app-toaster [message]='Pmessage'></app-toaster>