.animationOne {
    width: 350px;
    height: 40px;
    background-color:green;
    animation-name:login;
    animation-duration: 5s;
    color: white;
    font-size:17px;
    text-align: center;
    border-radius:25px;
    position:absolute;
    padding-top:5px;
    box-shadow:2px solid black;
  }

  @keyframes login {
    from {background-color:yellow;right:0px;}
    to {background-color: red;right:280px;}
  }

  .animationTwo {
    width:250px;
    height: 40px;
    background-color:green;
    animation-name:login;
    animation-duration:3s;
    color: white;
    font-size:17px;
    text-align: center;
    border-radius:25px;
    position:absolute;
    padding-top:5px;
    box-shadow:2px solid black;
  }
  @keyframes signup {
    from {background-color:yellow;right:0px;}
    to {background-color: red;right:180px;}
  }